.hero{
    width: 100vw;
    height: 200px;

    padding-top: clamp(1rem, 4vw, 3rem);
    padding-bottom: clamp(0.5rem, 2vw, 1.5rem);
}

.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2rem, 6vw, 5.5rem);
  line-height: 1;
  white-space: normal;
}

.searchBar {
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  padding: clamp(0.6rem, 1vw, 0.9rem);
  margin-top: clamp(0.5rem, 2vw, 1.25rem);
}

.animated-bg{
  background: linear-gradient(
    135deg,
    #4059AD,
    #F4B942,
    #8AE1FC,
    #48B8D0,
    #010400
  );   
  border-radius: 20px;
  background-size: 400% 400%;
  animation: gradientFlow 15s ease infinite;
}

@keyframes gradientFlow{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.card-custom{
    width:100%;
    aspect-ratio:5/7;
    border-radius:20px;
    background-color:black;
    transition: all 0.3s ease;
}

.card-img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.card-custom:hover{
    transform: translateY(-8px) scale(1.03);
}

.card-caption{
    background:white;
    border-radius:10px;
    margin-top:10px;
    padding:6px;
    font-size:14px;
    text-align:center;
    box-shadow:0 2px 6px rgba(0,0,0,0.15);
}

.button-special{
  border-radius: 20px;
  background-color: #010400;
  border-color: #010400;
  color: white;
}